* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

a {
  text-decoration: none;
  color: #000000;
}
ul,
ol {
  list-style: none;
}
.background-nav{
  background-color:rgb(65, 113, 216);
  
}
.main__principal {
  background-color: rgb(65, 113, 216);
  color: white;
  display: grid;
  justify-content: space-around;
  align-items: start;
  height: 100vh;
}
.nav-link{  
  font-family: 'Gemunu Libre', sans-serif;
  font-size: xx-large;
  font-style: italic;
  display: flex;
  justify-content: end;

}
.titulos {
  font-family: 'Gemunu Libre', sans-serif;
}
.titulos__main{
  font-family: 'Gemunu Libre', sans-serif;
}

.video__intro{
width: 1080px;
height: 720px;
}

.card-title{
 color: black;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
.main__footer {
  background-color: rgb(65, 113, 216);
}
