.main-budokai{
    section{
        span{
            h1{
                text-align: start;
                font-style: normal;
                font-family: 'Sigmar One', cursive;
                color: white;
                margin-top: 15px;
            }
        }
    }
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 60%;
    position: relative;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

    section {
        span {
            div {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    text-align: center;
                    justify-content: center;
                    font-style: normal;
                    font-family: 'Sigmar One', cursive;
                    font-weight: 400;
                    font-size: 200%;
                    color: white;
                    margin-top: 10px;
                }
            }

            div:hover {
                transform: scale(1.03, 1.03);
            }
        }
    }