.main-fdxradio {
  section {
    div {
      img:hover {
        transform: scale(1.02, 1.02);
      }
      .invitados {
        font-style: normal;
        font-family: 'Sigmar One', cursive;
        font-size: 200%;
        margin-bottom: 10px;
        color: white;
        display: flex;
        justify-content: center;
      }
      .der{
        position: absolute;
        left: 70%;
        transform: translate(-50%, -150%);
        
        @media screen and (max-width: 1750px) {
          display: none;
        }
      }
      .izq{
        position: absolute;
        right: 43%;
        transform: translate(-50%, -150%);
        
          @media screen and (max-width: 1750px) {
          display: none;
        }

      }
      h2{
        font-style: normal;
        font-family: 'Sigmar One', cursive;
        font-size: 150%;
        margin-bottom: 10px;
        color: white;
        display: flex;
        justify-content: center;
      }
          h3{
          font-style: normal;
        font-family: 'Sigmar One', cursive;
        font-weight: 400;
        font-size: 100%;
        margin-bottom: 10px;
        color: white
          
        }
        button{
          font-style: normal;
          font-family: 'Sigmar One', cursive;
          font-size: 100%;
          color:white;
          background-color: blue;
          }
        }
        }
    }
      
 

