.main-principal{
    section{
        div{
            h1{
                font-style: normal;
                font-family: 'Sigmar One', cursive;
                font-weight: 400;
                font-size: 300%;
                margin-bottom: 10px;
                color: white;
            }
            h2{
                font-style: normal;
                font-family: 'Sigmar One', cursive;
                font-weight: 400;
                font-size: 150%;
                margin-bottom: 10px;
                color: black;
            }
        }
        span{
            h1{
                font-style: normal;
                font-family: 'Sigmar One', cursive;
                font-weight: 400;
                font-size: 200%;
                margin-bottom: 10px;
                color: white;
            }
            div{
                display: flex;
                flex-direction: row-reverse;
            }
            div:hover{
                transform: scale(1.01,1.01);
            }
        }

    }

}